footer {
  bottom: 0;
  min-height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  flex-wrap: wrap;
  color: $color-secondary;
  opacity: 1;
  transition: all 0.4s ease;

  padding: 2rem 4rem;

  &:hover {
    background-color: rgba(34, 47, 62, 0.5);
  }

  &__links {
    width: 50%;

    display: flex;
    text-align: center;
    justify-content: space-around;
  }
}

.footer {
  &__copyright {
    display: flex;
    font-size: 1.2rem;
    font-weight: 200;
    opacity: 0.7;
    transition: all 0.4s ease;
  }
  &:hover &__copyright {
    opacity: 1;
  }

  &__links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    font-size: 2rem;
    padding: 1rem;

    &--link {
      opacity: 0.4;

      &:hover {
        opacity: 8;
      }
    }
  }
}
