// SCSS Imports
@import './variables';
@import './Components/SectionTitle/sectiontitle';
@import './pages/Blog/blog';
@import './pages/About/about';
@import './Components/Footer/footerAdditional';
@import './pages/Construction/construction';
@import './pages/Header/header';
@import './pages/Projects/projects';
@import './pages/Knowledge/knowledge';
@import './pages/Specialties/specialties';
@import './Components/Footer/footer';
@import './pages/Contact/contact';
@import './Components/buttonstyles';
@import './Components/mobileMenu/mobileMenu';

//________ VARIABLES _________//
$color-primary: #ff9ff3;
$color-accent-1: #ff81ee;
$color-secondary: #1dd1a1;
$color-accent-2: #10ac84;

$color-dark: #222f3e;
$color-dark-accent: #374c65;
$color-light: #dceaf1;
$color-grey-light: #c8d6e5;
$color-grey-dark: #576574;
$color-white: #fff;
$color-black: #000;

//_________ GLOBAL STYLES AND RESEST _________//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
  font-size: 62.5%;
  letter-spacing: 2px;
}

body {
  background-color: $color-light;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-grey-light;
  text-transform: uppercase;
}

h1 {
  font-weight: 400;
}

h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: 400;
}

img {
  width: 100%;
}

@import './media';
