//________ VARIABLES _________//
$color-primary: #ff9ff3;
$color-accent-1: #ff81ee;
$color-secondary: #1dd1a1;
$color-accent-2: #10ac84;

$color-dark: #222f3e;
$color-dark-accent: #374c65;
$color-light: #dceaf1;
$color-grey-light: #c8d6e5;
$color-grey-dark: #576574;
$color-grey-text: #9b9c9d;
$color-white: #fff;
$color-black: #000;
